:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui",
    "helvetica neue", helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

button:enabled {
  cursor: pointer;
}
